<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Driver:</h3>

    <form class="form new-driver-form">
      <div class="form-group">
        <label for="driver-name">driver name:</label>
        <input class="form-input" type="text" id="driver-name" name="driver-name" />
      </div>
      {{!-- <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div> --}}
      <div class="form-group">
        <label for="driver-info">driver informaiton:</label>
        <textarea class="form-input" id="driver-info" name="driver-info"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Drivers:</h3>

    {{#each drivers as |driver|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/driver/{{driver.id}}">{{driver.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{driver.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
