{{!-- <div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-3 mx-auto text-center">
      <p>
      <p class="w3-large">An online platform for connecting Carpools for your kids to trusted Parent drivers.</p>
      </p>
      <br>
      <div class="w3-center w3-row-padding w3-grayscale" style="margin-bottom:128px"> --}}

        <h2>Login</h2>

        <form class="form" id="login-form" style="hieght: 500px;">
          <div class="form-group" style="margin-bottom:12px">
            <label for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Log in to your Account!</button>
          </div>
        </form>
      </div>
      <p>First time here? Click <a href="signup">here</a> to sign up!</p>
    </div>
  </div>




  
  <script>console.log('sanity check')
    const signupForm = document.getElementById('signup-form');
    console.log(signupForm)
  </script>
  <script src="/js/login.js"></script>