<div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
  <div class="w3-half">
    <div class="row">
      <div class="col-md-6">
        <h2>Login</h2>

        <form class="form" id="login-form">
          <div class="form-group">
            <label for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Log in to your Account!</button>
          </div>
        </form>
      </div>
      </h1>
    </div>




    {{!--
    <script>console.log('sanity check')
      const signupForm = document.getElementById('signup-form');
      console.log(signupForm)
    </script> --}}
    <script src="/js/login.js"></script>