<div class="w3-padding-32">
  <div class="w3-bar w3-border">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/api/comment" class="w3-bar-item w3-button w3-light-grey">My Account</a>
    {{!-- <a href="/logout" class="w3-bar-item w3-button">Log Out</a> --}}
    <button type="button" class="w3-bar-item w3-button" id="logout" >Logout</button>
    {{!-- <a href="#" class="w3-bar-item w3-button w3-hide-small">FAQs</a> --}}
  </div>
  
</div>

<script type="text/javascript" src="/js/logout.js"></script>