<div class="col-md-10 col-md-offset-3 mx-auto text-center">
  <p>
  <p class="w3-large">An online platform for connecting Carpools for your kids to trusted Parent drivers.</p>
  </p>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h2>Signup</h2>

      <form id="signup-form">
        <div class="form-group">
          <label for="name-signup">name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="username-signup">username:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>

        <div class="form-group">
          <label for="city-signup">city:</label>
          <input class="form-input" type="text" id="city-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Sign me Up for a New Account!</button>
        </div>
      </form>
    </div>
  </div>
  {{!--
  <script>console.log('sanity check')
    const signupForm = document.getElementById('signup-form');
    console.log(signupForm)
  </script> --}}
  <script src="/js/login.js"></script>